@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

//colors
$main-color: #FFFFFF;
$second-color: #F7F8FC;
$text-color: #262842;

//fonts
$title: 'Roboto', sans-serif;
$text: 'Roboto', sans-serif;

//vars
$title-size: 24px;
$text-size: 14px;
